In [26]:
from faker import Faker  # Importing the Faker class from the faker library, used for generating fake data.
import pandas as pd  # Importing the pandas library for data manipulation and analysis, aliased as pd.
from faker.providers.credit_card import Provider as CreditCardProvider  # Importing Provider class from faker.providers.credit_card and naming it CreditCardProvider, allowing faker to generate fake credit card information.
import re  # Importing the re module, which provides support for regular expressions.

Task 1:

In [27]:
# Initializing a Faker instance with Norwegian locale to generate data with Norwegian names and structures.
fake = Faker(['no_NO'])

In [28]:
# Initializing an empty DataFrame with specified column names to store generated data.
df = pd.DataFrame(columns=['Name', 'Address', 'Personal Number', 'Credit Card', 'IPv4'])

In [29]:
# Populating the DataFrame with 100 rows of fake data, each row representing a different individual.
for i in range(100):
    df.loc[i] = (fake.name(), fake.address().replace("\n", ", "), fake.ssn(), fake.credit_card_number(), fake.ipv4())

In [30]:
# Save the DataFrame directly to a CSV file
df.to_csv("fake_persons.csv", index=False)

In [31]:
#Download the cvs file
#Read the csv, notice sep=','.. For CSV files created in Norwegian excel we need to use sep=';'#
#df = pd.read_csv(url, na_values=' ') we can use this for automatically convert blank space to nan values
url= r"C:\Users\berry\OneDrive - OsloMet\Lab-Introduksjon-til-kunstlig-intelligens\Lab-3\fake_persons.csv"
df = pd.read_csv(url, sep=',')
df.head(3)

,Name,Address,Personal Number,Credit Card,IPv4
0,Lene Strøm,"Jacobsentoppen 6A, 4129 Jacobsen",7043922437,213117276321358,216.104.13.172
1,Roar Edvardsen,"Myhretoppen 49D, 0776 Jørgensen",5044641161,373150725656419,79.98.25.162
2,John Ahmed,"Knutsenplassen 3A, 9509 Andersen",11053542001,344398063188430,158.167.52.148

Task 2:

In [32]:
#Creating messages for the first 10 rows.
textArray = []  # Create an empty array
# Iterate over the first 10 rows in the DataFrame
for i in range(10):
    row = df.iloc[i]
    name = row.iloc[0]
    address = row.iloc[1]
    ssn = row.iloc[2]
    cc = row.iloc[3]

In [33]:
# Using f-string to create a message and append it to the textArray
textArray.append(f'Hi, my name is {name}. I wonder if you deliver to {address}. My credit card nr is {cc} and my ssn is {ssn}')

In [34]:
def anonymize_text(text): 
    # Replace names after 'my name is ' with '[REDACTED_NAME]'
    text = re.sub(r'(?<=my name is )[\w\s]+', '[REDACTED_NAME]', text)
    # Replace addresses after 'deliver to ' with '[REDACTED_ADDRESS]'
    text = re.sub(r'(?<=deliver to )[^.]+', '[REDACTED_ADDRESS]', text)
    return text

In [35]:
#And here we applied the anonymization function to each text in the 'textArray'.
for line in textArray:
    anonymized_line = anonymize_text(line)
    print("Original: ", line)
    print("Anonymized: ", anonymized_line)
    print("\n")

Original:  Hi, my name is Tom Lund-Bøe. I wonder if you deliver to Svendsenhaugen 92, 8628 Martinevær. My credit card nr is 372961516680744 and my ssn is 2018444626
Anonymized:  Hi, my name is [REDACTED_NAME]-Bøe. I wonder if you deliver to [REDACTED_ADDRESS]. My credit card nr is 372961516680744 and my ssn is 2018444626